{
	"names" : 
	[ { "mode" : "serie" },
		[ { "mode" : "alts" },
			"Throckmorton",
			"Donahough",
			"Scarborough",
			"Saltinstall",
			"Alderson",
			"Applegate",
			"Atterbury",
			"Barnett",
			"Bidwell",
			"Culverwell",
			"Cuthbertson",
			"Dearson",
			"Dowthwaite",
			"Edgecombe",
			"Faircliff",
			"Gladwell",
			"Grinham",
			"Hunsley",
			"Illingworth",
			"Jennison",
			"Leatherwood",
			"Luxford",
			"Mewbourn",
			"Mounce",
			"Nancarrow",
			"Northmore",
			"Ovington",
			"Pemberton",
			"Plumridge",
			"Prewitt",
			"Risdon",
			"Rossiter",
			"Ruscombe",
			"Skipworth",
			"Styles",
			"Twyford",
			"Vinicombe",
			"Ahmad Bee",
			"Boston Bee Party",
			"Spacecombe",
			"Starcombe",
			"Universe",
			"Papercombe",
			"Metalcombe",
			"Proud",
			"The one and only",
			"Victorious",
			"Enigmatic",
			"Fancy",
			"Fancypants",
			"Honeycheeks",
			"Honeypot",
			"Sweet",
			"Shiny"
		],
		" ",
		[ { "mode" : "alts" },
			"Hive",
			"The Collective",
			"Waspirin",
			"Wasp",
			"Stinger",
			"Vespa",
			"Many",
			"Hivemind",
			"Yellowjacket"
		]
	
	]
}