{
    "friendlyguard_hail": {
        "wasphive": {
            "default": [
                "Hive iz bored.",
                "Perimeter zecure.",
                "Hive iz on guard.",
                "Buzz. Click. Click."
            ]
        }
    },
    "helpthem": {
        "default": {
            "default": [
                "Leave <name> alone!",
                "Hive will make you regret zat!",
                "You're making a big miztake!"
            ]
        }
    },
    "encourage": {
        "default": {
            "default": [
                "Get zem!",
                "Don't let zem get away!",
                "Hive zwarmz!",
                "Zting zem!"
            ]
        }
    }
}