{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/paperplate/paperplateheader.png",
      "fileBody" : "/interface/paperplate/paperplatebody.png",
      "fileFooter" : "/interface/paperplate/paperplatefooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [50, 46],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png",
	  "zlevel" : 1
    },
    "objectImage" : {
      "type" : "image",
      "position" : [59, 55],
      "file" : "",
      "centered" : true,
      "maxSize" : [30, 30],
      "minSize" : [30, 30],
	  "zlevel" : 0
    }
  }
}
